<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="blog" class="cn.edu.ccut.bo.Blog">
    	<property name="id" value="101"/>
    	<property name="name" value="Java"/>
    	<property name="descs" value="Java开发"/>
    </bean>
</beans>